.column.is-flex {
    display:flex;
    font-weight: bold;
    font-size: 24px;
    color: rgba(0, 0, 2, 0.76);
    width: 100%;
    margin: 9px;
    box-shadow: 2px 2px 8px 0px rgba(0, 5, 25, .3);
}

.field {
    display: flex;
    flex: 0 0 100%;
    width: 180%;
}
